<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogToConsole="true" internalLogLevel="Warn">

  <!--Fatal > Error > Warn > Info > Debug > Trace-->

  <targets>
    <!--<target name="debugger"
            xsi:type="OutputDebugString"
            layout="${date:format=HHmmss}|${level}|${logger}|${message}${exception:tostring}"
            />-->
    <target name="logfile"
            xsi:type="File"
            layout="${date:format=HHmmss}|${level}|${callsite:fileName=true}|${message}${exception:tostring}"
            fileName="D:\Documents\DevProjects\Domino-home-automation\logs\${logger}.log"
            archiveFileName="D:\Documents\DevProjects\Domino-home-automation\logs\archives\${logger}.{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            />
    <target name="console"
            xsi:type="Console"
            layout="${date:format=HHmmss}|${level}|${logger}|${message}${exception:tostring}"
            />
    <target name="mqtt"
              xsi:type="MethodCall"
              className="DominoShared.BaseManager, DominoShared" methodName="LogMethod">
      <parameter layout="${date}" />
      <parameter layout="${level}" />
      <parameter layout="${message}" />
      <parameter layout="${exception}" />
      <parameter layout="${logger}" />
      <parameter layout="${callsite:fileName=true}" />
    </target>
    <target name="BlackHole"
            xsi:type="Null"
            formatMessage="false"  />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" writeTo="BlackHole" final="true"/>
    <logger name="System.*" maxlevel="Info" writeTo="BlackHole" final="true"/>

    <logger name="DominoAlarm.*" maxlevel="Trace" writeTo="BlackHole" final="true"/>
    <logger name="DominoTeleinfo.*" maxlevel="Trace" writeTo="BlackHole" final="true"/>
    <logger name="DominoX10.*" maxlevel="Trace" writeTo="BlackHole" final="true"/>

    <!--<logger name="*" minlevel="Trace" writeTo="debugger" />-->
    <logger name="*" minlevel="Trace" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="console" />
    <logger name="*" minlevel="Trace" writeTo="mqtt" />
  </rules>
</nlog>